html,body{
    margin: 0;
    min-height: 100%;
    font-size: 16px;
}
.nav-bar{
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
background-color: #2F2FA2;
    color: white;
    
}
.nav-bar a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.nav-bar a:hover{
    text-decoration: none;
    color: #F64C72;
}
.carousel img{ width:100%;
height:45vh; /*vh = viewport height*/
object-fit: cover; }
.carousel p{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 4rem;
    transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.head{
    width: 100%;
 
    color: WHITE;
    background-color: #2F2FA2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row{
   
}
.contain{
  
    display: block;
}
.container{
    border-radius: 10px;
    clear: both;
    padding: 0px;
}
.my-row{
    
    height:  100%;
}
.my-row>div>img{
    opacity: 0.8;
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.my-container{
    padding: 0;
}
.image__overlay >*{
    transform: translateY(20px);
    transition: transform(0.33s);
}
.image__overlay:hover>*{
    transform: translateY(0);
}
.image__overlay:hover{
    opacity: 1;
}
.image__overlay{
    text-align: center;
    overflow: auto;
    padding: 20px;
    transition: opacity 0.33s;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #ffffff;
}
image__title{
    font-size: 3rem;
    font-weight: bold;
    
    display: none;
}
.container1{
    border-radius: 10px;
    clear: both;
    min-height: 100%;
   
/*    height: 500px;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#item1>p{
    font-size: 1.25rem;
}
#item1{
    text-align: center;
/*
    margin-left: 10px;
    margin-right: 10px;
*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    font-size: 2rem;
    background-color: #2F2FA2;
    color: white;
}
h3{
object-fit: contain;    
}

#item2{
   

    grid-column: 2;
    grid-row: 1;
    height: 100%;
}
#item3>p{
    margin: 10px;
    font-size: 2rem;
}
#item3>h3{
    font-size: 3.5rem;
}
#item1>p{
    margin: 10px;
    font-size: 2rem;
}
#item1>h3{
    font-size: 3.5rem;
}
#item3{
     background-color: #2F2FA2;
    color: white;
        text-align: center;

    height: 100%;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     grid-column: 1;
    grid-row: 2;
}
#item4{
     grid-column: 2;
    grid-row: 2;
    height: 100%;
}
.img_project{
    clear: both;
    height: 100%;
    width: 100%;
   
}
#courses>a{
    font-weight: 300;
    font-size: 3.25rem;
}
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#item5>p{
    font-size: 2rem;
}
#item5>a{
    font-size: 3.25rem;
    text-decoration: none;
}
#item5>a:hover{
    color: #F64C72;
}
#item7>p{
    font-size: 2rem;
}
#item7>a{
    font-size: 3.25rem;
    text-decoration: none;
}
#item7>a:hover{
    color: #F64C72;
}
#item5{
   
    text-align: center;
    color: white;
    background-color: #2F2FA2;
    grid-row: 1;
    grid-column:1; 
}
#item6{
    grid-row: 1;
    grid-column:2 
}
#item7{
    text-align: center;
    color: white;
    background-color: #2F2FA2;
    grid-row: 2;
    grid-column:1; 
}
#item8{
    grid-row: 2;
    grid-column:2; 
}

@media screen and (max-width:575px){
    .container1{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        
    }
    #item1{
        grid-row: 1/2;
        grid-column: 1;
    }
    #item2{
        grid-row: 2/3;
        grid-column: 1;
    }
    #item3{
        grid-row: 3/4;
        grid-column: 1;
    }
    #item4{
        grid-row: 4/5;
        grid-column: 1;
    }
    .container2{
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: 1fr;
    }
    #item5{
        grid-column: 1;
        
        grid-row:1/2;
    }
     #item6{
        grid-column: 1;
        grid-row: 2/3;
    }
     #item7{
        grid-column: 1;
        grid-row: 3/4;
    }
     #item8{
        grid-column: 1;
        grid-row: 4/5;
    }
}